<div class="row">
  <div class="col-md-4 col-sm-4 col-md-offset-4">
    <h1>User Login</h1>
    <%= bootstrap_form_for :user, :url => {:controller => "sessions", :action => "create"} do |f| %>
    <%= f.text_field :email, :placeholder => "Email", icon: "user" %>
    <%= f.password_field :password, :placeholder => "Enter password", icon: "lock" %>
    <%= f.submit "login", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>