<div class="col-md-6 col-md-offset-3">
<h1>This is <%= @user.name%>'s public profile</h1>
<br> <br>
<p> I'll have a photo too! </p>
<p> <strong>Name:</strong>
<%= @user.name %>
<p> <strong>Email:</strong>
<%= @user.email %>
</p>
