<div class="col-md-12 col-sm-12 text-center">
  <h1>Category: <%= @category.name %></h1>
</div>
<div class='event-row text-center'>
  <% @event.each do |e| %>
  <div class='event-div'>
    <%= image_tag e.image_id, :class =>'event-img' %>
    <h2><%= link_to e.title, event_path(e.id) %></h2>
  </div>
  <% end %>
</div>