<div class='container main-container'>
  <div class="category-h3">
    <% @category.each do |c| %>
    <h3><%= link_to c.name, category_path(c.id) %></h3>
    <% end %>
  </div>

  <h1>Trending</h1>
  <div class='event-row text-center'>
    <% @trending_arr.each do |event_id, trending |%>
    <% if trending != 1 %>
    <div class='event-div'>
      <%= image_tag "cocktail_crafting.gif", :class =>'event-img' %>
      <h3><%= link_to @event.find_by_id(event_id).title, event_path(@event.find_by_id(event_id).id) %></h3>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

