<h3>Events Show Page</h3>

<% if @events.length != 0 %>
<div class="row">
	<% @events.each do |event| %>
  <div class="col-xs-9"> Capacity:
  	<%= event.capacity ? event.capacity : 'No Capacity Listed' %>
  </div>
  <div class="col-xs-4"> Host:
  	<%= @users.find_by_id(event.user_id) ? @users.find_by_id(event.user_id).name : 'No Person Tied to this Event' %>
  </div>
  <div class="col-xs-6"> Event:
  	<%= link_to event.title, root_path, :target=>'_blank' %>
  </div>
  <% end %>
</div>
	<% else %>
		<h1>nopoststoshow</h1>
<% end %>