<%= javascript_include_tag("jquery.ui.widget", "jquery.iframe-transport", "jquery.fileupload", "jquery.cloudinary") %>
<%= cloudinary_js_config %>


<div class='container main-container'>
  <div class="col-md-4 col-md-offset-4">
  <h1>New Event</h1>
  <ul class="list">
  	<%= render :partial => "form" %>
  </ul>
</div>

