/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */


div {
  /*border: 1px solid #000;*/
}

.wrapper {
  min-height: 850px;
  position: relative;
}

h1 {
  font-family: 'Montserrat';
  font-size: 27px;
  color: #726659;
}

.credits, .outside_credits {
  font-family: 'Montserrat';
  font-size: 15px;
  color: #a88f6a;
  display: inline-block;
}


body {
  font-family: 'IM Fell Double Pica';
  font-size: 15px;
  background-color: #fbfbfb;
}

.main-container {
  padding-top: 70px;
  padding-bottom: 140px;
  min-height: 600px;
}

.glyphicon {
  color: #726659;
}

/* ------------ Error Msg Div ------------ */

.error-msg {
  padding-top: 20px;
  margin-bottom: 10px;
}

.alert {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 12px;
  letter-spacing: 1px;
  border: 5px double #a88f6a;
  background: none;
  border-radius: 0px;
}

/* ------------ Index Page ------------ */

#discover-btn {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: 5px;
  font-family: 'Montserrat';
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
}

#start-btn {
  /*padding-left: 15px;*/
  margin-left: 5px;
  font-family: 'Montserrat';
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
}

.event-div {
  margin-top: 20px;
  margin-bottom: 30px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  border: .13em solid #726659;
  /*background-color: #a88f6a;*/
}

.event-img {
  border-bottom: 1px double #726659;
  /*border-bottom: 5px double #726659;*/
}

.event-pic {
  max-width: 300px;
  max-height: 200px;
}


/* ------------ About Page ------------ */

.our-story {
  padding-top: 40px;
  padding-bottom: 40px;
}

.p1{
  text-align: left;
  line-height: 28px;
  font-size: 15px;
  padding-right: 25px;
}

.p2 {
  text-align: left;
  line-height: 28px;
  font-size: 15px;
  padding-left: 25px;
}

.team-member {
  /*text-align: left;*/
}

.team-icon {
  width: 70%;
  height: 70%;
}

.team-icon-male {
  width: 50%;
  height: 50%;
}

/* ------------ Profile Show Page ------------ */

.pie-chart {
  margin-top: 80px;
}

.event-img {
  height: 50%;
  width: 50%;
}

/*.event-row {
  text-align: center;
  min-height: 400px;
}*/

.event-cat-box {
  padding-top: 20px;
  margin: 20px;
}



/* ------------ Carousel ------------ */

#header-carousel {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

#overlay-text {
  font-family: 'Amatic SC';
  font-size: 100px;
  font-weight: 700;
  color: #fff;
}

.overlay {
  color:#fff;
  position:absolute;
  z-index:12;
  top:13%;
  left:0;
  width:100%;
  text-align:center;
}

/* ------------ Nav Bar ------------ */

/* this fixes the overflow problem, but blocks the drop down */
  .navbar-collapse.collapse {
    /*overflow: hidden !important;*/
  }

  .navbar {
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
    border-bottom: 1px solid #a88f6a;
  }

  .nav.navbar-nav {
    float: left;
    margin-bottom: 0px;
    color: #000;
  }

  .nav.navbar-nav {
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
  }

  .nav.navbar-nav > li {
    position: relative;
    right: 50%;
  }

  .nav.navbar-nav li {
    text-align: left
  }

  .nav.navbar-nav a {
    height: 68px;
    font-family: 'Montserrat';
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #fbfbfb;
  }

  .nav.navbar-nav li.nav-item {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  li.nav.navbar-nav {
    padding-right: 0px;
  }

  /* -------- Logged-in User's Nav Bar -------- */

    .custom-navbar a {
      height: 30px;
      font-family: 'Montserrat';
      font-size: 15px;
      letter-spacing: 1px;
      color: #726659;
      background-color: #fbfbfb;
    }

    /* -- this is for the user name & drop-down menu in navbar -- */

    .nav-item {
      padding-top: 20px;
    }

    .nav-item-dropdown {
      padding-top: 8px;
      padding-left: 170px;
    }

    .custom-navbar {
      padding-top: 13px;
      padding-bottom: 15px;
      border-bottom: 1px solid #a88f6a;
    }

    .search-nav {
      font-family: 'Montserrat';
      font-size: 10px;
      letter-spacing: 1px;
    }

    .nav-item-dropdown {
   /*   padding-left: 16px;*/
    }

    div.col-xs-2.col-s-2.col-md-2.nav-item {
      text-align: left;
    }

    .btn-nav:focus,.btn-nav:active {
      outline: none !important;
    }

    .dropdown {
      border: none;
      border-radius:0px;
    }
}

/* ------------ Footer ------------ */

footer {
  /*position: absolute;*/
  height: 90px;
  width: 100%;
  /*border-top: 1px solid #a88f6a;*/
  bottom: 0;
}

footer.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  border-top: 1px solid #a88f6a;
}

footer > p {
  margin-top: 30px;
  padding-left: 20px;
}

.fa {
  padding-right: 20px;
  padding-top: 20px;
}

.fa:hover {
  color:#a88f6a;
}

.copyright {
  padding-top: 25px;
}

.glyph a {
  color: #000;
}

/* ------------ Links ------------ */

li.nav-item a:link {
  color: #a88f6a;
}

li.nav-item a:active {
  color: #a88f6a;
}

li.nav-item a:visited {
  color: #a88f6a;
}

li.nav-item a:hover {
  color: #a88f6a;
  text-decoration: underline;
  background: none;
}

.custom-navbar a:link {
  color: #a88f6a;
}

.custom-navbar a:active {
  color: #a88f6a;
}

.custom-navbar a:visited {
  color: #a88f6a;
}

.custom-navbar a:hover {
  color: #a88f6a;
  text-decoration: underline;
  background: none;
}

.nav-logo a:hover {
  background: none;
}

/* ------------------- button ------------------- */

.btn-primary {
  font-family: 'Montserrat';
  font-size: 15px;
  letter-spacing: 1px;
  color: #726659;
  background-color: none;
  background: none;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  /*margin: 5px;*/
  border-radius: 0;
  border: 5px double #a88f6a;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  /*color: #fff;
  background-color: #a88f6a;
  border-color: #a88f6a;*/
  background-color: none;
  background: none;
  color: #726659;
  border: 5px double #a88f6a;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #fff;
  border-color: #000;
}

.btn-primary .badge {
  color: #fff;
  background-color: #000;
}

.btn-primary:focus,.btn-primary:active {
   outline: none !important;
}

/* ------------------- discover ------------------- */


.category-h3 h3 {
  display: inline-block;
  padding-right: 20px;
}
