/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

/*Events Show Page*/
.payment {
  font-weight: bold;
  width: 60%;
}

div {
  /*border: 1px solid #000;*/
}

.wrapper {
  min-height: 1300px;
  position: relative;
}

.credits, .outside_credits {
  font-family: 'Montserrat';
  font-size: 15px;
  color: #a88f6a;
  display: inline-block;
}

body {
  font-family: 'IM Fell Double Pica';
  font-size: 15px;
  background-color: #fbfbfb;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.main-container {
  padding-top: 70px;
  padding-bottom: 140px;
  min-height: 600px;
}

.glyph a {
  color: #000;
}

.glyph a:hover {
  color: #726659;
}

#nav-user-glyph {
  color: #726659;
}

h1 {
  font-family: 'Montserrat';
  font-size: 27px;
  color: #726659;
}

h2 {
  font-family: 'Montserrat';
  font-size: 18px;
  color: #726659;
}

body {
  font-family: 'IM Fell Double Pica';
  font-size: 15px;
  background-color: #fff;
}


/* ------------ Error Msg Div ------------ */

.error-msg {
  padding-top: 20px;
  margin-bottom: 10px;
}

.alert {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 12px;
  letter-spacing: 1px;
  border: 5px double #a88f6a;
  background: none;
  border-radius: 0px;
}

/* ------------ Index Page ------------ */

#discover-btn {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: 5px;
  font-family: 'Montserrat';
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
}

#start-btn {
  /*padding-left: 15px;*/
  margin-left: 5px;
  font-family: 'Montserrat';
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
}

.event-div {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  border: .13em solid #726659;
  height: 250px;
  width: 301px;
  background-color: #f3eadc;
  /*background-color: #a88f6a;*/
}

.event-img {
  border-bottom: 1px double #726659;
  max-height: 200px;
  max-width: 300px;
  /*border-bottom: 5px double #726659;*/
}

div.modal-footer {
  border: 0px;
  padding-bottom: 80px;
}


/* ------------ Event Page ------------ */

.event-header {
  padding-top: 40px;
  margin-bottom: 40px;
}

.event-header > h1 {
  padding-bottom: 20px;
}

.event-header-row {
  /*padding-top: 10px;*/
  padding-bottom: 10px;
}

.event-content-div {
  padding-bottom: 60px;
  border: 5px double #726659;
/*  border-bottom: 5px double #726659;
  border-left: 5px double #726659;;*/
  margin-bottom: 80px;
  background-color: #f3eadc;
}

.event-cap {
  text-align:center;
  background-color: #726659;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #fff;
  margin-left: 80px;
}

.event-attend {
  text-align:center;
  background-color: #726659;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  margin-left: 80px;
}

.event-attend > h2 {
  color: #fff;
}

.event-cap > h2 {
  color: #fff;
}

.event-details {
  margin-top: 20px;
}

#index-desc div div.col-xs-5.col-md-5 p {
  padding-top: 100px;
}


/* ------------ About Page ------------ */

.our-story {
  padding-top: 40px;
  padding-bottom: 40px;
}

.p1{
  text-align: left;
  line-height: 28px;
  font-size: 15px;
  padding-right: 25px;
}

.p2 {
  text-align: left;
  line-height: 28px;
  font-size: 15px;
  padding-left: 25px;
}

/* FB image */
#fb-picture {
  padding-bottom: 20px;
}

.team-icon {
  width: 70%;
  height: 70%;
}

.team-icon-male {
  width: 50%;
  height: 50%;
}

/* ------------ Profile Show Page ------------ */

.profile-header {
  padding-bottom: 30px;
}

.profile-content-div {
  padding-bottom: 60px;
  border: 5px double #726659;
/*  border-bottom: 5px double #726659;
  border-left: 5px double #726659;;*/
  margin-bottom: 80px;
  background-color: #f3eadc;
}

.pie-chart {
  margin-top: 40px;
}

.piechart-img {
  /*border: 5px double #726659;*/
  border-radius: 30px;
}

.event-img-profile {
  height: 50%;
  width: 50%;
}

.event-row {
  min-height: 700px;
}

.event-cat-box {
  padding-top: 20px;
  margin: 20px;
}

.event-div-title {
  padding-bottom: 20;
}


/* ------------ Carousel ------------ */

#header-carousel {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

#overlay-text {
  font-family: 'Amatic SC';
  font-size: 150px;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 3px 8px #000;
  padding-bottom: 100px;
}

.overlay {
  color:#fff;
  position:absolute;
  z-index:12;
  top:13%;
  left:0;
  width:100%;
  text-align:center;
}

/* ------------ Nav Bar ------------ */

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
  border-bottom: 1px solid #a88f6a;
}

.nav.navbar-nav {
  float: left;
  margin-bottom: 0px;
  color: #000;
}

.nav.navbar-nav {
  clear: left;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}

.nav.navbar-nav > li {
  position: relative;
  right: 50%;
}

.nav.navbar-nav li {
  text-align: left
}

.nav.navbar-nav a {
  height: 68px;
  font-family: 'Montserrat';
  font-size: 15px;
  letter-spacing: 1px;
  background-color: #fbfbfb;
}

.nav.navbar-nav li.nav-item {
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

li.nav.navbar-nav {
  padding-right: 0px;
}

/* -------- Logged-in User's Nav Bar -------- */

.custom-navbar a {
  height: 30px;
  font-family: 'Montserrat';
  font-size: 15px;
  letter-spacing: 1px;
  color: #726659;
  background-color: #fbfbfb;
}

.nav-item {
  padding-top: 20px;
}

.nav-item-dropdown {
  padding-top: 8px;
  padding-left: 170px;
}

.custom-navbar {
  padding-top: 13px;
  padding-bottom: 15px;
  border-bottom: 1px solid #a88f6a;
}

.search-nav {
  font-family: 'Montserrat';
  font-size: 10px;
  letter-spacing: 1px;
}

.nav-item-dropdown {
/*   padding-left: 16px;*/
}

div.col-xs-2.col-s-2.col-md-2.nav-item {
  text-align: left;
}

.btn-nav:focus,.btn-nav:active {
  outline: none !important;
}

.dropdown {
  border: none;
  border-radius:0px;
}


/* ------------ Footer ------------ */

footer {
  /*position: absolute;*/
  height: 160px;
  width: 100%;
  /*border-top: 1px solid #a88f6a;*/
  bottom: 0;
  background-color: #726659;
}

footer.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  border-top: 1px solid #a88f6a;
  margin-top: 40px;
  background-color: #726659;
}

footer > p {
  margin-top: 30px;
  /*padding-left: 20px;*/
}

.fa {
  color: #000;
  padding-right: 20px;
  padding-top: 20px;
}

.fa:hover {
  color:#a88f6a;
}

.copyright {
  padding-top: 25px;
  color: #f3eadc;
}

footer > div > div.copyright.col-md-3.col-sm-3 > p {

}

.fa-github {
  color: #f3eadc;
}

.fa-facebook-square {
  color: #f3eadc;
}

.fa-instagram {
  color: #f3eadc;
}

/* ------------ Nav Links ------------ */

li.nav-item a:link {
  color: #a88f6a;
}

li.nav-item a:active {
  color: #a88f6a;
}

li.nav-item a:visited {
  color: #a88f6a;
}

li.nav-item a:hover {
  color: #a88f6a;
  text-decoration: underline;
  background-color: #fbfbfb;
}

li.nav-logo a:hover {
  background-color: #fbfbfb;
}

.custom-navbar a:link {
  color: #a88f6a;
}

.custom-navbar a:active {
  color: #a88f6a;
}

.custom-navbar a:visited {
  color: #a88f6a;
}

.custom-navbar a:hover {
  color: #a88f6a;
  text-decoration: underline;
  background: none;
}

.nav-logo a:hover {
  background: none !important;
}

/* --------- Links --------- */
 a:link {
  color: #726659;
}

a:visited {
  color: #726659;
}

a:hover {
  color: #726659;
  text-decoration: underline;
}

a:active {
  color: #726659;
}

a {
  color: #726659;
}


/* ------------------- button ------------------- */

.btn-primary {
  font-family: 'Montserrat';
  font-size: 15px;
  letter-spacing: 1px;
  color: #726659;
  background-color: none;
  background: none;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  /*margin: 5px;*/
  border-radius: 0;
  border: 5px double #a88f6a;
  max-width: 310px;
  min-height: 50px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  /*color: #fff;
  background-color: #a88f6a;
  border-color: #a88f6a;*/
  background-color: none;
  background: none;
  color: #726659;
  border: 5px double #a88f6a;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #fff;
  border-color: #000;
}

.btn-primary .badge {
  color: #fff;
  background-color: #000;
}

.btn-primary:focus,.btn-primary:active {
   outline: none !important;
}

/* ------------------- discover ------------------- */


.category-h3 h3 {
  display: inline-block;
  padding-right: 20px;
}

/* ------------------ media queries ------------ */

@media (max-width: 900px) {

  #overlay-text {
    font-size: 50px;
    font-weight: 500;
  }

  .btn-disappear,
  .logo,
  .user-info,
  .categories-btn,
  .copyright {
    display: none;
  }

}
