<div class='text-center'>
  <h1>OUR STORY</h1>

  <div class='row our-story'>
    <div class='col-xs-offset-2 col-md-offset-2'>
      <div class='col-xs-5 col-md-5 p1'>Kickstarter slow-carb chia Austin, YOLO Banksy Pitchfork flannel Godard. Umami meditation Pitchfork, selvage hoodie narwhal viral church-key iPhone Portland master cleanse cornhole chambray. Banjo seitan Austin, American Apparel Helvetica sriracha taxidermy Godard next level occupy Truffaut flexitarian fixie. Pour-over viral Neutra photo booth art party McSweeney's butcher cardigan. Tofu meggings Bushwick, High Life mixtape Godard put a bird on it. Cliche fixie YOLO umami master cleanse, tousled hella 90's typewriter ugh 3 wolf moon. Artisan Blue Bottle plaid, before they sold out Intelligentsia kitsch banjo vegan</div>
      <div class='col-xs-5 col-md-5 p2'>Slow-carb cred banjo VHS listicle, master cleanse narwhal freegan kale chips skateboard heirloom vegan Vice literally. Try-hard PBR distillery direct trade, hashtag tofu single-origin coffee chillwave Odd Future semiotics vinyl. Salvia lumbersexual authentic, stumptown jean shorts selvage small batch High Life fashion axe deep v YOLO seitan vegan irony VHS. VHS messenger bag gentrify crucifix beard vegan, Portland meditation iPhone keytar before they sold out Thundercats. Scenester 3 wolf moon Godard, narwhal gluten-free banh mi post-ironic whatever cliche bicycle rights asymmetrical paleo gastropub.</div>
    </div>
  </div>

  <h1>OUR TEAM</h1>

  <div class='row our-story'>
    <div class='col-xs-offset-1 col-md-offset-1'>
      <div class='col-xs-5 col-md-5'><img src='https://d13yacurqjgara.cloudfront.net/users/312581/screenshots/1676038/female-placeholder_1x.png' class='team-icon'>
        <h1>Luna A.</h1>
        <strong>GitHub</strong>: <%= link_to 'cestlou', "https://github.com/CestLou" %><br />
        <strong>Twitter</strong>:
      </div>
      <div class='col-xs-5 col-md-5'><img src='http://www.attorneyatlawmagazine.com/fort-worth/wp-content/uploads/sites/20/2013/05/placeholder-icon-300x300.jpg' class='team-icon-male'>
        <h1>Nick L.</h1>
        <strong>GitHub</strong>: <%= link_to 'nicklathe', "https://github.com/nicklathe" %><br />
        <strong>Twitter</strong>:
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-offset-1 col-md-offset-1'>
      <div class='col-xs-5 col-md-5'><img src='https://d13yacurqjgara.cloudfront.net/users/312581/screenshots/1676038/female-placeholder_1x.png' class='team-icon'>
        <h1>Claire L.</h1>
        <strong>GitHub</strong>: <%= link_to 'clairelyles', "https://github.com/clairelyles" %><br />
        <strong>Twitter</strong>:
      </div>
      <div class='col-xs-5 col-md-5'><img src='https://d13yacurqjgara.cloudfront.net/users/312581/screenshots/1676038/female-placeholder_1x.png' class='team-icon'>
        <h1>Stephanie N.</h1>
        <strong>GitHub</strong>: <%= link_to 'stephaniejn', "https://github.com/stephaniejn" %><br />
        <strong>Twitter</strong>:
      </div>
    </div>
  </div>

</div>